.App {
  text-align: center;
}

.search__package {
  background-color: purple;
  height: 30rem;
  border-radius: 3rem;
}
.input-group-text {
  background-color: white;
  border: none;
}
li {
  color: rgb(226, 26, 226);
}
ul li::marker {
  color: white;
}
